body {
    box-sizing: border-box;
    margin: 0 auto ;
}

/** {*/
/*    margin: 0 !important;*/
/*    padding: 0 !important;*/
/*}*/

/*contenedores*/
.container_parent {
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

.container_header{
    margin: 2vw auto;
}

.container_menu {

}

.container_1 {
    display: flex;
}

.container_1_1 {
    flex-grow: 1;
}

.container_1_2 {
    flex-grow: 2;
}



/*text*/
.index_header {
    color: #8E24AA;
    font-family: "Arial";
    font-size: 1.2vw;
}

.index_title {
    color: #3F51B5;
    font-family: "Dubai";
    font-size: 1vw;
}
.index_text {
    color:white;
    font-family: "Myriad Pro";
    font-size: 1vw;
}


/*footer*/

.footer {

}